<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light mb-lg-5" *ngIf="authService.user || authService.skippedAuth">
  <!-- Container wrapper -->
  <div class="container-fluid">
    <!-- Navbar brand -->
    <a class="navbar-brand" [routerLink]="['']">BEM</a>

    <!-- Toggle button -->
    <button
      class="navbar-toggler"
      type="button"
      (click)="basicNavbar.toggle()"
      aria-expanded="false"
      aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div
      class="collapse navbar-collapse"
      id="navbarSupportedContent"
      mdbCollapse
      #basicNavbar="mdbCollapse">
      <!-- Left links -->
      <ul class="nav nav-pills me-auto mb-2 mb-lg-0">
        <li class="nav nav-item" *ngIf="authService.user">
          <a class="nav-link" aria-current="page" [routerLink]="['/']" routerLinkActive="active"
             [routerLinkActiveOptions]="{exact: true}">Dashboard</a>
        </li>
        <li class="nav nav-item">
          <a class="nav-link" aria-current="page" [routerLink]="['/beverages']" routerLinkActive="active"
             [routerLinkActiveOptions]="{exact: true}">Beverages</a>
        </li>
        <li class="nav nav-item" *ngIf="authService.user">
          <a class="nav-link" [routerLink]="['/profile']" routerLinkActive="active"
             [routerLinkActiveOptions]="{exact: true}">Profile</a>
        </li>
      </ul>
      <!-- Left links -->

      <!-- Search form -->
      <div class="d-flex align-items-center">
        <button *ngIf="authService.user" type="button" class="btn btn-primary me-3 bg-accent" (click)="authService.logout()">
          <i class="fas fa-sign-out-alt"></i>
          Logout
        </button>
        <button *ngIf="authService.skippedAuth" type="button" class="btn btn-primary me-3 bg-accent" (click)="authService.logout()">
          <i class="fas fa-sign-in-alt"></i>
          Sign In
        </button>
        <form class="d-flex input-group w-auto">
          <span class="p-input-icon-left p-mb-2 p-mb-md-0">
          <i class="pi pi-search"></i>
          <input (keyup)="beginTypeSearch($event)" type="search" placeholder="Search..." pInputText
                 [formControl]="myControl" [matAutocomplete]="auto">
          <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
            <mat-option *ngFor="let beverage of beverages" [value]="beverage.name"
                        (onSelectionChange)="optionSelected(beverage)">
              {{beverage.name}}
            </mat-option>
          </mat-autocomplete>
        </span>
          <span class="input-group-text border-0" id="search-addon">
          <i class="pi pi-spin pi-spinner" *ngIf="isLoading"></i>
        </span>
        </form>
      </div>
    </div>
    <!-- Collapsible wrapper -->
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->
