<div class="container">

  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-12 col-md-6">
          <p-image class="card-img" width="100%" [src]="beverage.imageUrl" [preview]="true"></p-image>
        </div>

        <main class="col-md-6">
          <article>
            <!--              <a href="#" class="text-primary btn-link">{{beverage.parent.localName}} > {{beverage.name}}</a>-->
            <p-breadcrumb [model]="beveragePath" [home]="home"></p-breadcrumb>
            <h3 class="title">{{beverage.name}}</h3>
            <div>
              <p-rating [ngModel]="3" [readonly]="true" [cancel]="false"></p-rating>
              <span class="label-rating mr-3 text-muted">7/10</span>
              <a href="#" class="btn-link  mr-3 text-muted"> <i class="fa fa-heart"></i> Save for later </a>
              <a href="#" class="btn-link text-muted"> <i class="fa fa-book-open"></i> Compare </a>
            </div>

            <hr>

            <div class="mb-3">
              <h5>Allergens</h5>
              <dl class="row" *ngFor="let allergen of beverage.allergens">
                <dt class="col-sm-3">{{allergen}}</dt>
              </dl>
            </div>

            <div class="form-group mb-5">
              <label class="text-muted">Description</label>
              <div>
                <p>
                  {{beverage.description}}
                </p>
              </div>
            </div>

            <div class="mb-4" *ngIf="authService.user">
              <a (click)="openPreferencesPane()" class="btn btn-light">View Preferences</a>
            </div>

          </article>
        </main>
      </div>
    </div>
  </div>
</div>


