
  <div class="container">

    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-12 col-md-6">
            <p-image class="card-img" width="100%" [src]="beverage.strDrinkThumb" [preview]="true"></p-image>
          </div>

          <main class="col-md-6">
            <article>
              <a href="#" class="text-primary btn-link">{{beverage.strCategory}}</a>
              <h3 class="title">{{beverage.strDrink}}</h3>
              <div>
                <p-rating [ngModel]="3" [readonly]="true" [cancel]="false"></p-rating>
                <span class="label-rating mr-3 text-muted">7/10</span>
                <a href="#" class="btn-link  mr-3 text-muted"> <i class="fa fa-heart"></i> Save for later </a>
                <a href="#" class="btn-link text-muted"> <i class="fa fa-book-open"></i> Compare </a>
              </div>

              <hr>

              <div class="mb-3">
                <h6>Short description</h6>
                <ul class="list-dots mb-0">
                  <li>Cold Drink</li>
                  <li>Iced Tea </li>
                </ul>
              </div>

              <div class="form-group">
                <label class="text-muted">Available sizes</label>
                <div>
                  <label class="js-check btn btn-check active mr-1">
                    <input type="radio" name="option_size" value="option1" checked="">
                    <span>Small</span>
                  </label>
                  <label class="js-check btn btn-check mr-1">
                    <input type="radio" name="option_size" value="option1">
                    <span>Medium</span>
                  </label>
                  <label class="js-check btn btn-check mr-1">
                    <input type="radio" name="option_size" value="option1">
                    <span>Large</span>
                  </label>
                  <label class="js-check btn btn-check disabled">
                    <input type="radio" name="option_size" disabled="" value="option1">
                    <span>Babies</span>
                  </label>
                </div>
              </div>

              <div class="mb-3">
                <var class="price h4">$230.00</var> <br>
                <span class="monthly">$32.00 / monthly <a href="#" class="btn-link">installment </a></span>
              </div> <!-- price-detail-wrap .// -->

              <div class="mb-4">
                <a href="#" class="btn btn-primary mr-1">Buy now</a>
                <a href="#" class="btn btn-light">Add to card</a>
              </div>

            </article>
          </main>
        </div>
      </div>
    </div>
    <div class="card mt-5">
      <div class="card-body">
        <div class="row">
          <aside class="col-md-6">
            <h5>Ingredients</h5>
            <dl class="row">
              <dt class="col-sm-3">{{beverage.strIngredient1}}</dt>
              <dd class="col-sm-9">{{beverage.strMeasure1}}</dd>

              <dt class="col-sm-3">{{beverage.strIngredient2}}</dt>
              <dd class="col-sm-9">{{beverage.strMeasure2}}</dd>

              <dt class="col-sm-3">{{beverage.strIngredient3}}</dt>
              <dd class="col-sm-9">{{beverage.strMeasure3}}</dd>

              <dt class="col-sm-3">{{beverage.strIngredient4}}</dt>
              <dd class="col-sm-9">{{beverage.strMeasure4}}</dd>

              <dt class="col-sm-3">{{beverage.strIngredient5}}</dt>
              <dd class="col-sm-9">{{beverage.strMeasure5}}</dd>

              <dt class="col-sm-3">{{beverage.strIngredient6}}</dt>
              <dd class="col-sm-9">{{beverage.strMeasure6}}</dd>

              <dt class="col-sm-3">{{beverage.strIngredient7}}</dt>
              <dd class="col-sm-9">{{beverage.strMeasure7}}</dd>

              <dt class="col-sm-3">{{beverage.strIngredient8}}</dt>
              <dd class="col-sm-9">{{beverage.strMeasure8}}</dd>

              <dt class="col-sm-3">{{beverage.strIngredient9}}</dt>
              <dd class="col-sm-9">{{beverage.strMeasure9}}</dd>

              <dt class="col-sm-3">{{beverage.strIngredient10}}</dt>
              <dd class="col-sm-9">{{beverage.strMeasure10}}</dd>

              <dt class="col-sm-3">{{beverage.strIngredient11}}</dt>
              <dd class="col-sm-9">{{beverage.strMeasure11}}</dd>

              <dt class="col-sm-3">{{beverage.strIngredient12}}</dt>
              <dd class="col-sm-9">{{beverage.strMeasure12}}</dd>

              <dt class="col-sm-3">{{beverage.strIngredient13}}</dt>
              <dd class="col-sm-9">{{beverage.strMeasure13}}</dd>

              <dt class="col-sm-3">{{beverage.strIngredient14}}</dt>
              <dd class="col-sm-9">{{beverage.strMeasure14}}</dd>

              <dt class="col-sm-3">{{beverage.strIngredient15}}</dt>
              <dd class="col-sm-9">{{beverage.strMeasure15}}</dd>
            </dl>
          </aside>
<!--          <aside class="col-md-6">-->
<!--            <h5>Features</h5>-->
<!--            <ul class="list-check">-->
<!--              <li>Best performance of battery</li>-->
<!--              <li>5 years warranty for this product</li>-->
<!--              <li>Amazing features and high quality</li>-->
<!--              <li>Best performance of battery</li>-->
<!--              <li>5 years warranty for this product</li>-->
<!--            </ul>-->
<!--          </aside>-->
        </div>
        <hr>
        <p>
          {{beverage.strInstructions}}
        </p>
      </div>
    </div>
  </div>


