<div class="card">
    <p-dataView #dv [value]="teams" filterBy="name" layout="grid">
        <ng-template let-team pTemplate="gridItem">
            <div class="p-col-12 p-md-4">
                <div class="product-list-item card">
                    <div class="product-grid-item-top">
                        <div>
                            <i class="pi pi-tag product-category-icon"></i>
                            <span class="product-category">{{team.coach}}</span>
                        </div>
                    </div>
                    <div class="product-grid-item-content">
                        <img src="https://primefaces.org/primeng/showcase/assets/showcase/images/demo/product/blue-t-shirt.jpg"/>
                        <div class="product-name">{{team.name}}</div>
                        <div class="product-description">{{team.description}}</div>
                        <p-rating [ngModel]="team.id" [cancel]="false"></p-rating>
                    </div>
                </div>
            </div>
        </ng-template>
    </p-dataView>
</div>