<div class="container">
  <div class="group">
    <div class="login p-d-flex p-flex-column p-fluid">
      <div class="p-field p-mr-2 p-mb-2">
        <h2>Register</h2>
      </div>
      <div class="p-field p-mr-2 p-mb-2">
        <label for="loginEmailAddress">Username</label>
        <input id="loginEmailAddress" class="p-mb-2" pInputText placeholder="Email Address" [(ngModel)]="registerEmailAddress">
      </div>
      <div class="p-field p-mr-2 p-mb-2">
        <label for="loginPassword">Password</label>
        <input id="loginPassword" class="p-mb-2" pPassword placeholder="Password" type="password" [(ngModel)]="registerPassword">
      </div>
      <div class="p-field p-mr-2 p-mb-2">
        <a routerLink="/login">Already have an account?</a>
      </div>
      <div class="p-field p-mr-2 p-mb-2">
        <p-button class="p-mb-2" styleClass="p-button-lg" (click)="authService.register(registerEmailAddress,registerPassword)">Create Account</p-button>
      </div>
    </div>
  </div>
</div>
